.tool-server-card-warp {
  flex: 1;
  flex-grow: 0;
  width: 1.5rem;
  min-width: 1.3rem;
  text-align: center;
  margin: 0.5rem 0.4rem 0.1rem 0.4rem;
}
.tool-server-card-warp .tool-server-card-img {
  height: 0.8rem;
  text-align: center;
  align-items: center;
}
.tool-server-card-warp .tool-server-card-img img {
  width: 0.7rem;
}
.tool-server-card-warp .tool-server-card-text {
  margin-top: 1px;
  font-size: 0.33rem;
  width: 1.389rem /* 150/108 */;
}
