
  .main {
    // overflow-y: scroll;
    height: calc( 100vh - 3rem);
    .main-padding{
      padding: 0 0.324rem;

    }
      .loading-img {
        position: relative;
        width: 100%;
        margin-left: 4.2rem;
        height: 1rem;
        margin-bottom: 1rem;
       >img{
         width: 0.5rem;
         position: absolute;
         top:0.13rem;
       }
       >span{
        position: absolute;
        top:0.14rem;
        margin-left: 0.6rem;
      }
    }
  }



