.menu-item__box{
    margin-bottom: 5px;
    display: flex;
    justify-content: space-between;
    .item-box{
        // height: 1.8333rem /* 198/108 */;
        // width: 20% /* 141/108 */;
        text-align: center;
        flex:1;
        // margin-right: .6111rem /* 66/108 */;
        .item-box__img{
            width: 1.3056rem /* 141/108 */;
            height: 1.3056rem /* 141/108 */;
        }
        .item-box__text{
            height: .5093rem /* 55/108 */;
            margin: auto 0;
            font-size: .287rem /* 31/108 */;
            font-family: \.PingFangSC-Light;
        }
    }
}
    