.rotation-box{
    width: 9.388rem /* 1014/108 */;
    height: 2.6944rem /* 291/108 */;
    overflow: hidden;
    font-size: 0;
    border-radius: 5px;
}
    .rotationChart-img{
        display: inline-block;
        height: 2.6944rem /* 291/108 */;
        width: 9.388rem;
        border-radius: 5px;
    }
.swiper-container{
    --swiper-pagination-color: #fdb3a9;/* 两种都可以 */
    width: 9.388rem;
}
.swiper-pagination-bullet{
    margin: 0px .055rem /* 11/108 */! important;
    
    width: .1389rem /* 15/108 */;
    height: .1389rem /* 15/108 */;
    display: inline-block;
    border-radius: 100%;
    background: #000;
    opacity: .2;
}
.swiper-pagination-bullet-active{
    opacity: 1;
    width: 7px;
    background: var(--swiper-pagination-color,var(--swiper-theme-color));
}