.rotation-box {
  width: 9.388rem /* 1014/108 */;
  height: 2.6944rem /* 291/108 */;
  overflow: hidden;
  font-size: 0;
  border-radius: 10px;
}
.rotationChart-img {
  display: inline-block;
  height: 2.6944rem /* 291/108 */;
}
.swiper-container {
  --swiper-pagination-color: #fdb3a9;
  /* 两种都可以 */
}
