.classify{
    padding: .4352rem /* 47/108 */ 0 0.2593rem /* 28/108 */ 0;
  }
  .classify-box{
    height: .6111rem /* 66/108 */;
    // width: 9.352rem;
    white-space: nowrap;
    .swiper-container-mainhead{
      width: 9.388rem;
    }
  }
   .classify-item{
     display: inline-block;
      background-color: #d02420;
      width: 1.7222rem /* 186/108 */;
      height: .6111rem /* 66/108 */;
      line-height: .6111rem /* 66/108 */;
      border-radius: 30px;
      margin-right: .1667rem /* 18/108 */;
      font-size: .3056rem /* 33/108 */;
      text-align: center;
      color: #fffefd;
   }

// .dd{
//   width: 1.7222rem  !important;
//   margin-right: .1667rem /* 18/108 */;
// }
