.server{
    // background-color: pink;
    display: flex;
    height: 15.093rem /* 1800/108 *//* 1700/108 */ /* 2000/108 */ /* 1000/108 */;
    overflow: hidden;
    .left{
        // background-color: yellowgreen;
        width: 2.2rem;
        overflow-y: scroll;
        overflow:-moz-scrollbars-none;
        // overflow: hidden;
        // white-space: nowrap;
        ul{
            font-family:Helvetica Neue,Helvetica,Arial,PingFang SC,Heiti SC,Hiragino Sans GB,Microsoft YaHei,sans-serif;
            a{
                text-decoration: none;            
            }
            li{
                height: 1.5rem;
                line-height: 1.5rem;
                // text-align: center;
                
                span{
                    padding-left: 7px;
                                    
                }
                
              
            }
            .active {
                font-size: 16px;
                font-weight: 700;
                font-family: PingFangSC-Medium;
                color: #e6454a;
                background-color: #fff;
                span{
                    border-left: 2px solid #e6454a;

                }
            }
        }
    }
    .left::-webkit-scrollbar{
        display:none;
    }
    .right{
        width: 7.8rem;
        // height: 100vh;
        background-color: white;
        overflow-y: scroll;
        // overflow:-moz-scrollbars-none;
        
        
 
        li{
            // height: 567px;
            height: 15.093rem /* 1630/108 */ /* 1650/108 */ /* 1600/108 */ /* 1700/108 */;
            // background-color: yellowgreen;
            font-size: 0;

            .right-top__img{
                margin-top: 0.13rem;
                margin-left: 0.44rem;
                width: 7rem;
                border-radius: 0.1rem;
            }
        }
    }
    .right::-webkit-scrollbar{
        display:none;
    }
}