.menu-bar {
  margin-bottom: 0.4722rem /* 51/108 */;
}
.menu-bar1 {
  width: 9.3796rem /* 1013/108 */ /* 19.4073rem2026/108 */;
  height: 5.0741rem /* 548/108 */;
  padding: 0.6667rem /* 72/108 */ 0.2222rem /* 24/108 */ 0.4352rem /* 47/108 */ 0.2222rem /* 24/108 */;
  box-sizing: border-box;
  overflow-x: scroll;
  white-space: nowrap;
}
.menu-item__box {
  display: flex;
}
.menu-bar2 {
  width: 9.3611rem /* 1011/108 */;
  height: 1.5648rem /* 169/108 */;
  display: flex;
}
.menu-bar2__box {
  flex: 1;
  height: 1.3704rem /* 148/108 */;
  width: 1.2407rem /* 134/108 */;
  background-color: #f8f8f8;
  text-align: center;
}
.menu-bar2__box .menu-bar2-box__img {
  width: 0.963rem /* 104/108 */;
  height: 1.2222rem /* 132/108 */;
}
.menu-bar2__box .menu-bar2-box__text {
  height: 0.5093rem /* 55/108 */;
  margin: auto 0;
  font-size: 0.287rem /* 31/108 */;
  font-family: \.PingFangSC-Light;
}
