.menu-bar {
  margin-bottom: 0.2315rem /* 25/108 */;
}
.menu-bar1 {
  height: 5.0741rem /* 548/108 */;
  padding: 0.6667rem /* 72/108 */ /* 24/108 */ 0 0.4352rem /* 47/108 */ 0 /* 24/108 */;
  box-sizing: border-box;
}
.menu-bar1 .swiper-container-menu {
  width: 100% ;
}
.menu-bar1 .swiper-slide {
  width: 100%;
  height: 100%;
}
.menu-bar2 {
  width: 9.3611rem /* 1011/108 */;
  height: 1.5648rem /* 169/108 */;
  display: flex;
}
.menu-bar2__box {
  flex: 1;
  height: 1.3704rem /* 148/108 */;
  width: 1.2407rem /* 134/108 */;
  text-align: center;
}
.menu-bar2__box .menu-bar2__icon {
  font-size: 0.6111rem /* 66/108 */;
}
.menu-bar2__box .menu-bar2-box__text {
  height: 0.5093rem /* 55/108 */;
  margin: auto 0;
  font-size: 0.3056rem /* 33/108 */;
  font-family: \.PingFangSC-Light;
}
.swiper-scrollbar-menu {
  position: relative;
  left: 1%;
  bottom: 3px;
  z-index: 50;
  height: 5px;
  width: 0.6481rem /* 70/108 */;
  left: 46%;
  height: 0.0926rem /* 10/108 */;
  background: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
}
.swiper-scrollbar-drag {
  background-color: #f64949;
  height: 0.0926rem /* 10/108 */;
}
